/* reset css */


.memory-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .title_memory-game{
    
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  .flipped {
    background-size: cover !important;
  }
  