<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{css/style.css}">
    <meta charset="UTF-8">
    <title>Form Login </title>
</head>
<body>





<h1>Login page</h1>
<p style="color: red; font-weight: bold" th:text="${errorMessage}"></p>
<form method="post" action="/auth/login">
    user name
    <input type="text" name="userName"><br>
    password
    <input type="password" name="pass">
    <input type="submit"  value="Login">
</form>
</body>
</html>