.container{
    h1{
       
    &:hover{
        color: blue;


    }
    }
    img{
        width: 400px;
        height: 200px;
    }
    .list{
        ol{
            li{
                list-style: none;
            }
        }
    }
    .video{
        video{
            width: 400px;
            height: 200px;
        }
    }
}